.arrows {
  position: absolute;
  width: 300px;
  max-width: 30%;
  top: 80%;
  right: 52%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrows button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  font-family: monospace;
  font-size: large;
  font-weight: bold;
  color: #fff;
  background-color: #eee4;
  transition: all 0.3s ease 0s;
  z-index: 100;
}

.arrows button:hover {
  color: #555;
  background-color: #eee;
}

.carousel.next .arrows button,
.carousel.prev .arrows button {
  pointer-events: none;
}
